[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
 /********* INDEX *********/
 body { 
    padding-top:10px; 
 }
 
 .top-buttons{
    margin-bottom: 10px;
 }
 
 .modal-dialog {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
 }

.modal-content {
	background-color: black;	
}

.previous img {
    position: absolute;
    top: 40%;
    z-index: 1;
 }
 
 .next img {
    position: absolute;
    top: 40%;
    z-index: 1;
    right: 0;
 }
 
  /******** PROFILE ******/
body {
    word-wrap:break-word;
} 

.container img {
    image-orientation: from-image;
}

.galleryImageWrapper {
    background-color: #000;
    width: 100%;
    padding-bottom: 56%;
    position: relative;
}

.galleryImageWrapper img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

 /***************UPLOAD **********/
 .button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}