 <div class="col-sm-6 col-sm-offset-3">
 
    <h1><span class="fa fa-sign-in"></span>Login</h1>
     
    <div ng-show="error" class="alert alert-danger">
        {{errorMessage}}
    </div>
  
    <form class="form" ng-submit="login()">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" ng-model="loginForm.username" required
          ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
        </div>
        
        <div class="form-group">
          <label>Password</label>
           <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
        </div>
        
        <div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
        </div>
        
    </form>
    <hr> 

    <p>Need an account? <a ui-sref="signup">Signup</a></p>
    <p>Or go <a ui-sref="home">home</a>.</p>

</div>
  



















