<div class="container">
    
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out">Logout</a>
        <a ui-sref="upload" class="btn btn-default btn-sm"><span class="fa fa-upload">Upload</a>
        <a ui-sref="home" class="btn btn-default btn-sm"><span class="fa fa-home">Home</a>
    </div>

    <div class="row">        
        <div class="col-sm-6">
            <div class="well">                
                <p>
                    <strong>email</strong>: {{user.local.email}}<br>  
                    {{user}}
                </p>
            </div>
        </div>
    </div>    
     
    <div class="row">
         
        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="userImage in userImages">
            <div class="galleryImageWrapper">
                <img src="/images/uploads/thumbnails/thumbnail_{{userImage.name}}">
            </div>
        </div>
                      
    </div>
    
 </div>